{% extends 'student_base.html' %}
{% block title %}
Dashboard
{% endblock title %}
{% load static %}
{% block content %}
 
</style>
<main id="main" class="main">


      <div class="row">
        <div class="col-sm-6">
            <div class="pagetitle">
                <h1>Dashboard </h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Dashboard </a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container" style="max-width:97%;">
                <div class="text-lg-end text-start">

                </div>
            </div>
        </div>
    </div>



  <!-- End Page Title -->

   

</main><!-- End #main -->

 
 
 
{% endblock content %}