<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title> VR ACADEMY HUB - HOME </title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
  <!-- Vendor CSS Files -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="{% static 'website/css/aos/aos.css' %}" rel="stylesheet">
  <!-- Main CSS File -->
<link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
<!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


</head>

<body>

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
        <img src="{% static 'website/img/logo.png' %}" alt="">
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a id="home-link" href="{% url 'index' %}" >Home</a></li>
          <li><a id="about-link" href="{% url 'about_us' %}">About Us</a></li>
            <li class="dropdown">
            <a id="cource-level" href="#"><span>Cource Level</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a id="basic-to-advance-link" href="{% url 'basic_to_advance' %}">Basic To Advance</a></li>
              <li><a id="advance-to-pro-link" href="{% url 'advance_to_pro' %}">Advance To Pro</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a id="gallery-link" href="#"><span>Gallery</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a id="photos-link" href="{% url 'photo_gallery' %}">Photos</a></li>
              <li><a id="videos-link" href="{% url 'video_gallery' %}">Videos</a></li>
            </ul>
          </li>
          <li><a id="awards-link" href="{% url 'awards' %}">Awards & recognition</a></li>
          <li><a id="trusted-broker-link" href="{% url 'trusted_broker' %}">Our trusted broker</a></li>
          <li><a id="about-link" href="{% url 'contact_us' %}">Contact Us</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted" href="{% url 'register_user' %}">Register Now</a>
    </div>
  </header>

  <main class="main">


{% block content %}{% endblock content %}


  </main>
<footer id="footer" class="footer light-background" style="background-image: url('{% static "website/img/footer-bg.png" %}'); background-size: cover;   background-repeat: no-repeat; background-position: center;">

  <div class="container footer-top">
    <div class="row gy-4">

      <!-- Brand / About Section -->
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="{% url 'index' %}" class="logo d-flex align-items-center">
          <span class="sitename">VR Academy Hub</span>
        </a>
        <p>
          Empowering learners through structured trading education, from beginner to pro level.
          Join our community and unlock your potential with practical and proven training methods.
        </p>
        <div class="social-links d-flex mt-4">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-2 col-6 footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about_us' %}">About Us</a></li>
          <li><a href="{% url 'trusted_broker' %}">Our Trusted Broker</a></li>
          <li><a href="{% url 'awards' %}">Awards & Recognition</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>

      <!-- Courses -->
      <div class="col-lg-2 col-6 footer-links">
        <h4>Courses</h4>
        <ul>
          <li><a href="{% url 'basic_to_advance' %}">Basic to Advance</a></li>
          <li><a href="{% url 'advance_to_pro' %}">Advance to Pro</a></li>
        </ul>

        <h4 class="mt-2">Gallery & Media</h4>
        <ul>
          <li><a href="{% url 'photo_gallery' %}">Photo Gallery</a></li>
          <li><a href="{% url 'video_gallery' %}">Video Gallery</a></li>
        </ul>
      </div>

 
      <!-- Contact Info -->
      <div class="col-sm-2 footer-contact text-center">
        <h4>Contact Us</h4>
        <p>A108 Adam Street, New York, NY 535022, United States</p>
        <p><strong>Phone:</strong> +1 5589 55488 55 | <strong>Email:</strong> info@example.com</p>
      </div>

    </div>
 
  </div>

</footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"></script>  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
   <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>



  <!-- Main JS File -->
  <script src="{% static 'website/js/main.js' %}"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
        {% if msg.tags == 'success' %}
        swal({
          title: "Done !",
          text: "{{msg}}",
          icon: "success",
          button: "OK",
        });

        {% elif msg.tags == 'error' %}
        swal({
          title: "Error",
          text: "{{msg}}",
          icon: "error",
          button: "OK",
        });
         
        {% elif msg.tags == 'warning' %}
        swal({
          title: "Warning",
          text: "{{msg}}",
          icon: "warning",
          button: "OK",
        });
         
        {% elif msg.tags == 'info' %}
        swal({
          title: "Oops",
          text: "{{msg}}",
          icon: "info",
          button: "OK",
        });
         
        {% endif %}
    {% endfor %}
</script>
 
</body>

</html>